<div class="page">
  <div class="center">
    <div style="width: 25rem;">
      <div class="card shadow text-dark bg-light">
        <div class="card-body text-center">
          <img src="../../assets/img/signin-logo.png" alt="MyWeather" class="img-fluid" width="275px;">
          <div class="p-3">
            <p class="card-text lead">Sign In</p>
            <button type="button" class="btn btn-light border px-4" (click)="signIn()">
              <img src="../../assets/img/google-logo.png" alt="GoogleLogo" class="img-fluid" width="32px;">
              <span class="card-text lead ml-2">Google</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
