<div class="container">
  <div class="row">
    <div class="col-lg-4 mt-5" *ngFor="let location of savedLocationData">
      <div class="card shadow text-dark bg-light fade-in">
        <div class="card-body">
          <h2 class="card-title">{{ location.name }}</h2>
          <hr>
          <div class="p-3 text-center">
            <h2 class="card-text display-3"><strong>{{ location.temp | number: '1.0-0'}}°</strong></h2>
            <p class="card-text lead">
              {{ location.conditions }}
              <span><img [src]="location.icon"></span>
            </p>
            <span class="card-text lead">High: {{ location.tempMax | number: '1.0-0' }}°</span>
            <span class="card-text lead ml-2">Low: {{ location.tempMin | number: '1.0-0' }}°</span>
          </div>
          <div class="p-2">
            <p class="card-text lead">Pressure: {{ location.pressure }} mb</p>
          </div>
          <div class="p-2">
            <p class="card-text lead">Wind Speed: {{ location.windSpeed }} mph</p>
          </div>
          <div class="p-2">
            <p class="card-text lead">Humidity: {{ location.humidity }}%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

